.item-con {
    background-color: #fff;
    padding: 20px 25px;
    text-align: center;
    border-radius: 15px;
}

p {
    padding: 20px 0px;
}

.oldprice {
    color: red;
    font-style: italic;
    text-decoration: line-through;
    margin-left: 5px;
}

.offer {
    color: green;
    font-style: italic;
    font-size: x-small;
    margin-left: 5px;
}

.singleItem {
    padding: 30px;
    display: flex;
    gap: 30px;
    background: rgb(209, 230, 242);
}

.singleimg {
    width: 100%;
}

.singleitem-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cartBtn {
    text-align: center;
    color: #fff;
    background-color: rgb(190, 55, 55);
    border: none;
    font-size: medium;
    margin: 0px 10px;
    padding: 10px;

    &:active {
        background-color: #fff;
        color: black;
    }
}

.buyBtn {
    text-align: center;
    color: #fff;
    background-color: rgb(196, 71, 212);
    border: none;
    font-size: large;
    margin: 0px 10px;
    padding: 10px;
    transition: all 2s;

    &:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width:640px) {
    .singleItem {
        flex-direction: column;
    }
}