@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

.logo {
  height: 70px;
  border-radius: 15px;
}

h1 {
  padding: 18px 2px;
}

.pageNotFound {
  text-align: center;
}

.error-img {
  height: 350px;
}

.backGround {
  padding: 10px 35px;
}

.shopSideHeading {
  color: #000000b7;
  border: 1px solid #55555561;
  background-color: #55555561;
  padding: 2px 5px;
}

.allItems {
  padding-top: 25px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 14px;
  transition: all 2s;

  &:hover {
    transform: scale(1.1);
  }
}

/* Home Page Styles */


.HomepageBg {
  background-image: url('../public/Assets/bgs/homeBG.png');
  background-size: cover;
  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.homePageCon {
  display: flex;
  justify-content: space-around;
}

.homeHeading {
  padding: 0px 15px;
  color: #dea90b;
  font-size: 45px;
  font-weight: 600;
}

.homePara {
  width: 80%;
  padding: 8px 15px;
  color: rgb(213, 209, 209);
}

.homeImg {
  height: 300px;
  padding: 0px 10px;
}

.linebt {
  padding: 0px 25px;
  margin: 10px;
  height: 1px;
  border-radius: 15px;
  border-bottom: 3px solid rgba(66, 64, 64, 0.158);
}

/* home-page(shopcategory) */

.shopCategory {
  background-color: #fff;
}

.categoryHeading {
  font-weight: 800;
  font-size: 35px;
  padding: 10px;
}


.shopItemCon {
  padding: 15px;
}

.shoplanding {
  padding: 10px;
  border-radius: 1px 1px 15px 15px;
  margin-top: 15px;
  background-color: rgba(155, 157, 160, 0.174);
  display: flex;
  gap: 4rem;
  border-top: 3px solid #dea90b;
}

.shopImg {
  height: 300px;
  width: 200px;
  transition: all 2s;

  &:hover {
    transform: scale(1.1);
  }
}

.shopPara {
  color: #555;
}

.shopBtn {
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  background-color: #555;

  &:hover {
    border-top: 2px solid #dea90b;
  }
}

/* home-page(offers) */

.offerBg {
  background: rgb(220, 220, 227);
}

.offerBG {
  width: 100%;
  overflow: hidden;
}

.offer {
  max-height: 250px;
  width: 100%;
}

.offerHeading {
  color: rgb(0, 0, 0);
  font-size: 35px;
  padding: 25px 10px;
  font-weight: 800;
}

.slick-slide>div {
  margin: 0 14px;
}

/* home-page(promot) */

.promot {
  border-bottom: 0.5px solid #000;
  text-align: center;
  padding: 45px 30px;
}

.nalgonda {
  color: #dea90b;
  font-size: 2.5rem;
  text-decoration: underline;
  font-style: oblique;
  font-variant: small-caps;
}

/* home-page(shopFeatures) */

.Shoppingfeatures {
  padding: 40px 10px;
  display: flex;
}

.Shoppingfeatures1 {
  text-align: center;
  width: 50%;
}

/* end of home-page styles */

/* Footer styles */

footer {
  background: #000;
  display: flex;
  justify-content: space-around;
  padding: 38px 1px;
}

.footCon1 {
  color: #fff;
  font-size: large;
}

.logofoot {
  height: 130px;
  border-radius: 13px;
}

.footlist {
  padding-left: 8px;
}

.footlistItem {
  color: #fff;
  font-size: large;
  padding: 6px 2px;

  &:hover {
    text-decoration: underline;
    font-weight: 600;
  }
}

b {
  color: #fff;
  font-size: x-large;
}

.connect {
  color: #fff;
  margin-top: 16px;
}

.icon {
  color: #fff;
  font-size: x-large;
  margin: 3px 8px;
}

.copyright {
  text-align: center;
  color: gray;
  font-size: x-small;
  background: rgb(0, 0, 0);

}

/* footerStyles end */


/* rental styles */
.rentalVehicles {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.rentalVehiclesCon {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid gray;
  padding: 10px 25px;
  border-radius: 20px;
}

.owners {
  border: 2px solid rgb(5, 63, 95);
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vhImg {
  height: 40px;
  cursor: pointer;

  &:hover {
    border: 1px solid #555;
  }
}

.vhImgfull {
  height: 100px;
}

.vhCon {
  display: flex;
  gap: 4px;
}

.vhCon:hover> :not(:hover) {
  opacity: 0.4;
}

.vhimgCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ownerContact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.OwnerContactBtn {
  background-color: rgb(43, 190, 43);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
}

.hourspan {
  color: #dea90b;
  font-size: x-small;
}

/* workers-page styles */

.workers {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.workersCon {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid gray;
  padding: 10px 25px;
  border-radius: 20px;
}

.userSidebar {
  background-color: #000;
  display: none;
  justify-content: flex-end;
}

.userDetails {
  color: #000;
  position: absolute;
  z-index: 111111111;
  background-color: rgba(180, 188, 188, 0.975);
  width: 30%;
  height: 100dvh;
}

/*Login-page style*/

.loginBG {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.main {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}


label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}


.login-input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* register page styles */

.register-form {
  max-width: 400px;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.register-form h2 {
  margin-bottom: 20px;
}

.register-form label {
  display: block;
  margin-bottom: 5px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}



/* mediaQuories */

@media screen and (max-width:768px) {
  .homeImg {
    display: none;
  }

  .carImg {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: fill;
    padding: 15px 0px;
  }

  .Shoppingfeatures {
    flex-direction: column;
  }

  .Shoppingfeatures1 {
    width: 100%;
  }
}

@media screen and (max-width:576px) {
  .homeHeading {
    font-size: medium;
  }

  .homePara {
    font-size: small;
  }

  .shoplanding {
    flex-direction: column;
    gap: 1.5rem;
  }

  .shopImg {
    width: 100%;
  }

  .owners {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    flex-direction: column;
  }
}