@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

.logo {
  height: 70px;
  border-radius: 15px;
}

h1 {
  padding: 18px 2px;
}

.pageNotFound {
  text-align: center;
}

.error-img {
  height: 350px;
}

.backGround {
  background: radial-gradient(circle, rgba(133, 162, 179, 1) 0%, rgba(182, 174, 176, 1) 100%);
  padding: 10px 35px;
}

.HomepageBg {
  background: rgb(133, 162, 179);
  background: radial-gradient(circle, rgba(133, 162, 179, 1) 0%, rgba(182, 174, 176, 1) 100%);
  padding: 10px 35px;
}

.allItems {
  padding-top: 25px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}



.img {
  width: 150px;
  height: 150px;
  border-radius: 14px;
  transition: all 2s;

  &:hover {
    transform: scale(1.1);
  }
}

.rentalVehicles {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.rentalVehiclesCon {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid gray;
  padding: 10px 25px;
  border-radius: 20px;
}

.owners {
  border: 2px solid rgb(5, 63, 95);
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.carImg {
  max-height: 70vh;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: fill;
  padding: 15px 0px;
}

.Caro-heading {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: bisque;
  -webkit-text-stroke: 1px #000;
}




.homeHeading {
  width: 100%;
  color: rgb(41, 34, 34);
  font-size: 35px;
  padding: 0px 10px 26px 10px;
  border-top: 1px solid #000;
  text-decoration: underline;
}

.shopCategory {
  background: rgb(133, 162, 179);
  background: radial-gradient(circle, rgba(133, 162, 179, 1) 0%, rgba(182, 174, 176, 1) 100%);

}



.shopItemCon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shopItem {
  padding: 15px 20px;
  text-align: center;
}

.shopImg {
  max-height: 200px;
  border-radius: 25px;
  transition: all 2s;

  &:hover {
    transform: scale(1.1);
  }
}

.offerBg {
  background: navy;
}

.offerBG {
  width: 100%;
  overflow: hidden;
}

.offer {
  max-height: 250px;
  width: 100%;
}

.offerHeading {
  color: rgb(255, 255, 255);
  font-size: 35px;
  padding: 25px 10px;
  text-align: center;
  font-weight: 600;
}

.promot {
  border-bottom: 0.5px solid #000;
  text-align: center;
  padding: 45px 30px;
  background: rgb(133, 162, 179);
  background: radial-gradient(circle, rgba(133, 162, 179, 1) 0%, rgba(182, 174, 176, 1) 100%);
}

.Shoppingfeatures {
  background: rgb(133, 162, 179);
  background: radial-gradient(circle, rgba(133, 162, 179, 1) 0%, rgba(182, 174, 176, 1) 100%);
  padding: 40px 10px;
  display: flex;
}

.Shoppingfeatures1 {
  text-align: center;
  width: 50%;
}

footer {
  background: #000;
  display: flex;
  justify-content: space-around;
  padding: 38px 1px;
}

.footCon1 {
  color: #fff;
  font-size: large;
}

.logofoot {
  height: 130px;
  border-radius: 13px;
}

.footlist {
  padding-left: 8px;
}

.footlistItem {
  color: #fff;
  font-size: large;
  padding: 6px 2px;

  &:hover {
    text-decoration: underline;
    font-weight: 600;
  }
}

b {
  color: #fff;
  font-size: x-large;
}

.connect {
  color: #fff;
  margin-top: 16px;
}

.icon {
  color: #fff;
  font-size: x-large;
  margin: 3px 8px;
}

.copyright {
  text-align: center;
  color: gray;
  font-size: x-small;
  background: rgb(0, 0, 0);

}

.workers {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.workersCon {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid gray;
  padding: 10px 25px;
  border-radius: 20px;
}

.userSidebar {
  background-color: #000;
  display: none;
  justify-content: flex-end;
}

.userDetails {
  color: #000;
  position: absolute;
  z-index: 111111111;
  background-color: rgba(180, 188, 188, 0.975);
  width: 30%;
  height: 100dvh;
}

@media screen and (max-width:768px) {
  .carImg {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: fill;
    padding: 15px 0px;
  }

  .Shoppingfeatures {
    flex-direction: column;
  }

  .Shoppingfeatures1 {
    width: 100%;
  }
}

@media screen and (max-width:576px) {
  footer {
    flex-direction: column;
  }
}