header {
    position: sticky;
    top: 88px;
    z-index: 91;
}

.product-ul {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #f9f9f9;
    padding: 10px;

}

.dp {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border: none;

    &:hover {
        border-bottom: 2px solid #000;
        border-radius: 5px;
    }
}

.menu-button {
    text-align: end;
    display: none;
}

.pro-nav-item {
    color: #000;

    &:hover {
        font-weight: 600;
    }
}

@media screen and (max-width:576px) {
    .menu-button {
        display: block;
    }

    .product-ul.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-ul {
        gap: 10px;
        display: none;
    }

    .pro-nav-item {
        font-size: x-small;
    }


}